GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.BLL.Domain/obj/Debug/netstandard2.0/GdevApps.BLL.Domain.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.pdb
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.dll
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.pdb
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.dll
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.pdb
