GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.BLL.Domain/obj/Debug/netstandard2.0/GdevApps.BLL.Domain.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.pdb
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.dll
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.pdb
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.dll
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.pdb
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.csproj.CoreCompileInputs.cache
GdevApps.Portal/GdevApps.BLL.Contracts/obj/Debug/netstandard2.0/GdevApps.BLL.Contracts.assets.cache
GdevApps.Portal/GdevApps.BLL.Contracts/obj/Debug/netstandard2.0/GdevApps.BLL.Contracts.csproj.CoreCompileInputs.cache
GdevApps.Portal/GdevApps.BLL.Contracts/obj/Debug/netstandard2.0/GdevApps.BLL.Contracts.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.BLL.Domain/obj/Debug/netstandard2.0/GdevApps.BLL.Domain.assets.cache
GdevApps.Portal/GdevApps.BLL.Domain/obj/Debug/netstandard2.0/GdevApps.BLL.Domain.csproj.CoreCompileInputs.cache
GdevApps.Portal/GdevApps.BLL.Models/obj/Debug/netstandard2.0/GdevApps.BLL.Models.assets.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.assets.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.csproj.CoreCompileInputs.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.csprojAssemblyReference.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.GradebookLicense/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.GradebookLicense.assets.cache
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.assets.cache
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.assets.cache
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.csproj.CoreCompileInputs.cache
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.assets.cache
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.assets.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.csprojAssemblyReference.cache
