# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
# Visual Studio 2015/2017 cache/options directory
.vs/
# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
# Visual Studio code coverage results
*.coverage
*.coveragexml
GdevApps.Portal/GdevApps.BLL.Domain/obj/Debug/netstandard2.0/GdevApps.BLL.Domain.csprojResolveAssemblyReference.cache
GdevApps.Portal/GdevApps.Portal/obj/Debug/netcoreapp2.0/GdevApps.Portal.csproj.FileListAbsolute.txt
GdevApps.Portal/GdevApps.BLL.Domain/obj/Debug/netstandard2.0/GdevApps.BLL.Domain.csprojResolveAssemblyReference.cache
GdevApps.Portal/GdevApps.BLL.Models/obj/Debug/netstandard2.0/GdevApps.BLL.Models.csproj.FileListAbsolute.txt
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/bin/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/bin/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/GdevApps.DAL.DataContexts.AspNetUsers.csproj.nuget.cache
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/GdevApps.DAL.DataContexts.AspNetUsers.csproj.nuget.g.props
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/project.assets.json
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.DataContexts.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.csproj.FileListAbsolute.txt
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/bin/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/bin/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/GdevApps.DAL.DataModels.AspNetUsers.csproj.nuget.cache
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/GdevApps.DAL.DataModels.AspNetUsers.csproj.nuget.g.props
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/project.assets.json
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.DataModels.AspNetUsers/obj/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.csproj.FileListAbsolute.txt
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.DataContexts.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.dll
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.DataModels.AspNetUsers.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.dll
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.dll
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/GdevApps.DAL.Repositories.AspNetUserRepository.csproj.nuget.cache
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/GdevApps.DAL.Repositories.AspNetUserRepository.csproj.nuget.g.props
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/project.assets.json
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.dll
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.AspNetUserRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.AspNetUserRepository.csproj.FileListAbsolute.txt
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.dll
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/bin/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.deps.json
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/GdevApps.DAL.Repositories.BaseRepository.csproj.nuget.cache
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/GdevApps.DAL.Repositories.BaseRepository.csproj.nuget.g.props
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/project.assets.json
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.dll
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.pdb
GdevApps.Portal/GdevApps.DAL.Repositories.BaseRepository/obj/Debug/netstandard2.0/GdevApps.DAL.Repositories.BaseRepository.csproj.FileListAbsolute.txt
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.DataContexts.AspNetUsers.dll
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.DataContexts.AspNetUsers.pdb
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.DataModels.AspNetUsers.dll
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.DataModels.AspNetUsers.pdb
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.Repositories.AspNetUserRepository.dll
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.Repositories.AspNetUserRepository.pdb
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.Repositories.BaseRepository.dll
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.DAL.Repositories.BaseRepository.pdb
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.deps.json
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.runtimeconfig.json
GdevApps.Portal/GdevApps.Portal/bin/Debug/netcoreapp2.0/GdevApps.Portal.runtimeconfig.dev.json
GdevApps.Portal/GdevApps.Portal/obj/GdevApps.Portal.csproj.nuget.g.props
GdevApps.Portal/GdevApps.Portal/obj/project.assets.json
