@model GdevApps.Portal.Models.TeacherViewModels.StudentGradebookReportsViewModel
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="~/js/Teacher/reports.js" asp-append-version="true"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/js/bootstrap-dialog.min.js"></script>
<link rel="stylesheet" href="~/css/bootstrap-dialog.min.css" />
<link rel="stylesheet" href="~/css/Parent/parentStudents.css" />

<script type="text/javascript">
    $(function() {
        StudentReports.init();
    })
</script>

@{ Layout = "_Layout"; }

@Html.AntiForgeryToken()

<div>
    <div class="panel panel-default">
  <div class="panel-heading bg-blue"><h2 align="center">Google Classroom Students</h2></div>
  <div class="panel-body">
          <div class="row">
        <div class="col-xs-12 col-sm-6">
            <label for="ddlGradebooks" class="control-label">Select GradeBook</label>
            <select id="ddlGradebooks" class="form-control select2" asp-items="@Model.Gradebooks">
                <option value="-1">Select GradeBook</option>
            </select>
        </div>
        <div class="col-xs-12 col-sm-6" id="divStudents" style="display: none;">
            <label for="ddlStudents" class="control-label">Select Student</label>
            <select id="ddlStudents" class="form-control select2">
                <option value="-1">Select Student</option>
            </select>
        </div>
        
    </div>
  </div>
</div>

    <div id="loader" class="hidden"><img src="../images/google/google-loader.gif" alt="ASP.NET" class="loader-spin" /></div>
</div>
<div id="dvReportResults">
@{
    Html.RenderPartial("_Reports", Model);
}
</div>