body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Roboto',arial,sans-serif !important;
    font-size:16px !important;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.pull-right{
    float:right !important;
}

.pull-left{
    float: left !important;
}

.wordwrap{
    word-wrap: break-word;
}


/* dataTables CSS modification & positioning */
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
  right: 0 !important;
  content: "" !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  right: 0 !important;
  content: "" !important;
}

table.dataTable thead th {
    position: relative;
    background-image: none !important;
}
  
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute !important;
    top: 5px !important;
    right: 8px !important;
    display: block !important;
    font-family: FontAwesome !important;
    color: rgb(10, 10, 10) !important;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc" !important;
    color: rgb(10, 10, 10) !important;
    font-size: 1em !important;
    padding-top: 0.05em !important;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de" !important;
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd" !important;
}

.googleHeader{
    padding-top: 0;
    padding-bottom: 0;
    color: #444;
    background: #ddd;
    border: #bbb;
}

/*PAGINATION*/

.pagination>.active>a,
 .pagination>.active>span,
  .pagination>.active>a:hover,
   .pagination>.active>span:hover,
    .pagination>.active>a:focus,
     .pagination>.active>span:focus
{
    background-color: #4285f4 !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
     border-top-left-radius: 0px !important; 
     border-bottom-left-radius: 0px !important; 
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.pagination>.disabled>span,
 .pagination>.disabled>span:hover,
  .pagination>.disabled>span:focus,
   .pagination>.disabled>a,
    .pagination>.disabled>a:hover,
     .pagination>.disabled>a:focus{
         color: #4285f4 !important;
     }

/*FOMR CONTROLS*/
.form-control{
    border-radius: 0px !important;
    font-size: 16px !important;
}

.panel{
    border-radius: 0px !important;
}

/*BUTTONS*/
.btn{
    border-radius: 0px !important;
}

.btn-primary {
    background: #4285f4 !important;
    color: #fff !important;
    border-color:  #4285f4 !important;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #4071d9 !important;
}

/*GSUITE*/
.lockup {
    height: 45px !important;
}

.gb_9a {
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 40px;
    width: 40px;
    z-index: 0;
}

.navigation--item {
    font-weight: 400 !important;
    line-height: 16px !important;
    padding: 7px !important;
    font-size: 16px !important;
}

a.navigation--item:hover {
    color: #448aff;
    cursor: pointer;
    text-decoration: none;
    transition: color .2s ease-out;
}

/*colors*/

.green{
    color: #4caf50 !important;
}

.red{
    color:#f44336 !important;
}

.blue{
    color: #448aff !important;
}

.pricing-plans__feature.feature-icon::before {
    background-size: 24px 24px;
    height: 24px;
    left: 20px;
    top: 0;
    width: 24px;
}

.pricing-plans__feature {
    padding: 10px 20px 10px 52px;
}


/*Main Logo Image*/
.mainLogo{
    width: 204px; 
    height: 49px; 
    object-fit: cover;
}


/*Google button https://codepen.io/timlayton/pen/gppWqz*/
.google-button__text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto',arial,sans-serif;
  }

  .google-button__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0 8px 8px;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }

  .google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
  }

  .google-button:focus{
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  .google-button:hover{
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  }
  .google-button:active{
    background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
  }

/*Bootstrap social buttons Google*/

.btn-google {
    background-color: #4285f4 !important;
}

span.fa.fa-google {
    background: white;
    padding: 3px;
}

.btn-google:hover {
    color:white !important;
    background-color: #4071d9 !important;
}

.btn-google:active{
    color:white !important;
    background-color: #4071d9 !important;
}

.btn-google:focus{
    color:white !important;
    background-color: #4071d9 !important;
}

span.input-group-addon{
    border-radius: 0px !important;
}

.no-padding{
    padding: 0px !important;
}

img.lightblue{
    background-color: #4071d9 !important;
}

/*Bootstrap modal*/
.bootstrap-dialog.type-warning .modal-header{
    background-color: #FFA700 !important;
}

.bootstrap-dialog .modal-header {
     border-top-left-radius: 0px !important; 
     border-top-right-radius: 0px !important; 
}

.modal-content {
    border-radius: 0px !important;
}

.text-danger {
    color: #d62d20 !important;
}


/*Loader - Spinner*/

#loader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
}

.loader-spin {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
}

 /*GSUITE*/

 .card{
    background: none !important;
 }

 /*FOOTER*/

footer ul
{
  margin:0;
  padding:0 0 0 ;
}
footer ul li,.taber

{
 color:#fff;
  list-style:none;
  margin-bottom:10px;
  font-size:16px
}
@media (max-width:723px)
    {
    .taber
    {
        border-bottom:1px solid #ccc;
        padding-bottom:10px;
        cursor:auto;
    }
    .taber.collapsed:after {
        content: "+";
        float: right;
        font-size: 22px;
        margin-right: 10px;
    }
    .taber:after {
        content: "-";
        float: right;
        font-size: 22px;
        margin-right: 10px;
    }
    .taber {
        border-bottom: 1px solid #ccc;
        cursor: pointer;    
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .panel-collapse{
        padding-left: 15px;
        padding-right: 15px;
    }
    footer >.container
    {
        padding-left: 0;
        padding-right: 0px;
    }
}

.footer--nav .footer--item {
    display: list-item !important;
}
a.footer--link {
    color: #bdbdbd !important;
    transition: color .2s ease-out !important;
}
